  .grid-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "user-presentation" "user-interaction" "user-info";
  }
  
  .user-presentation {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1.2fr 0.8fr;
    grid-template-areas: "user-avatar" "user-essentials";
    grid-area: user-presentation;
  }
  
  .user-avatar {
    background-color: blue;
    grid-area: user-avatar; 
  }
  
  .user-essentials {
    background-color: crimson;
    grid-area: user-essentials;
  }
  
  .user-interaction {
    background-color: limegreen;
    grid-area: user-interaction;
  }
  
  .user-info {
    background-color: yellow;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "column-1" "column-2";
    grid-area: user-info;
  }
  
  .column-1 { grid-area: column-1; }
  
  .column-2 { grid-area: column-2; }